*{
    margin: 0px;
    padding: 0px;
    color: #fff;
}

/* Common Shared Styles  */


/* Nav Related Styles */

.nav-container{
    background-color: #474747;
    color: #fff;

    padding: 30px 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 25px;
    font-weight: 800;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;
}

.item:hover{
    color: dodgerblue;
    font-size: 25px;
}

/* Banner Related Styles */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    background-image: url(./images/background.png), linear-gradient(45deg, rgb(8,8,8), rgb(53,53,53));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-text{
    width: 50%;
}

.banner-title{
    font-size: 54px;
    font-weight: 700;
    margin: 20px 0;
}

.banner-description{
    font-size: 18px;
}

.btn-primary{
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;

    background-color: tomato;

}

